.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.s {
    margin-right:40px;
}

.nav-item{
    padding: 10px;
}

.fas {
    font-size: larger;
}

.user{
    cursor: pointer;
}

.sidebar {
    margin-top: -22px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
}

.log{
    margin-top: 383px;
    cursor: pointer;
}

.fa-solid{
    margin-left: 5px;
}

.searchbar{
    margin-right: 112px;
}

.form-control {
    border-left: none;
}

.form-inline{
    margin-right: 480px;
}

.products{
    text-align: center;
    margin-top: 60px;
    margin-left: -80px;
}

.gret{
    background-color: #28a745;
    position: absolute;
    width: 86px;
    top: 79px;
    right: 83px;
    z-index: 10;
}

.user1, .orders{
    cursor: pointer;
}

.user1:hover, .orders:hover{
    background-color: rgb(51, 217, 21);
}

.poco{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    top: 3%;
    left: 11%;
    margin-bottom: 30px;
    cursor: pointer;
}

.poco img{
    width: 200px;
}

.card-img{
    width: 100%;
    height: 230px;
}

.cc{
    padding: 2px 16px;
    background-color: #ccc5c5;
    color: #383535;
    height: 80px;
    
}

.cc b{
    font-size: larger;
    float: left;
}

.rating, .details{
    float: left;
}

.legion{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 308px;
    left: 75%;
    cursor: pointer;
}

.legion img{
    height: 233px;
    width: 200px;
}

.fireboltt{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 621px;
    left: 33%;
    cursor: pointer;
}

.fireboltt img{
    height: 233px;
    width: 200px;
}

.Headphones{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 934px;
    left: 54%;
    cursor: pointer;
}

.Headphones img{
    height: 233px;
}

.list{
    height: 1100px;
}

.Echo{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 894px;
    left: 11%;
    cursor: pointer;
}

.Echo img{
    height: 233px;
}

.Mac{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 1207px;
    left: 33%;
    cursor: pointer;
}

.Mac img{
    height: 233px;
}

.iphone{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 1520px;
    left: 54%;
    cursor: pointer;
}

.iphone img{
    height: 233px;
    width: 200px;
}

.ps5{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 1833px;
    left: 75%;
    cursor: pointer;
}

.ps5 img{
    height: 233px;
    width: 200px;
}

.xbox{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 1784px;
    left: 11%;
    cursor: pointer;
}

.xbox img{
    height: 233px;
    width: 200px;
}

.airpods{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 2098px;
    left: 33%;
    cursor: pointer;
}

.airpods img{
    height: 233px;
    width: 200px;
}

.applewatch{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 2412px;
    left: 54%;
    cursor: pointer;
}

.applewatch img{
    height: 233px;
    width: 200px;
}

.neckband{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    position: relative;
    bottom: 2725px;
    left: 75%;
    cursor: pointer;
}

.neckband img{
    height: 233px;
    width: 200px;
}

.logsout{
    background-color: red;
    color: white;
}

.logsout:hover{
    color: black;
}