<div class="shop">
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="/shop">
                <img src="../../assets/images/shopk-removebg-preview.png"  class="me-2" height="50" loading="lazy">
                <small>ShopKart</small>
            </a>
        </div>
        <div class="searchbar row">
            <form class="form-inline">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input class="form-control" id="search" type="search" placeholder="Enter the Product you are looking for..." aria-label="Search" size="63" (keydown)="onSearchKeyDown($event)">
                </div>
            </form>
        </div>
        <div class="s">
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link user" id="user-icon" href="/shop#abouts">
                        <h6>About</h6>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link user" id="user-icon" href="/shop#footer">
                        <h6>Contact</h6>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0" *ngIf="isloginav">
                    <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-user" aria-hidden="true"></i></button>
                    <mat-menu #menu="matMenu" id="matMenu">
                        <button mat-menu-item (click)="openAlertDialogComponentComponent()">Profile</button>
                        <button mat-menu-item>Orders</button>
                        <button mat-menu-item class="logsout" (click)="toggleloginform()">Logout</button>
                    </mat-menu>
                </li>
                <li class="nav-item me-3 me-lg-0" *ngIf="!isloginav">
                    <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-user" aria-hidden="true"></i></button>
                    <mat-menu #menu="matMenu" id="matMenu">
                        <a href="/login" class="signups"><button mat-menu-item>Signup</button></a>
                    </mat-menu>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="/shop">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- <div class="sidebar" id="sidebar">
        <a (click)="toggleelecform()">Electronics & Devices</a>
        <a (click)="togglehomeform()">Home Appliances</a>
        <a (click)="togglefurform()">Furnitures</a>
        <a (click)="toggledecform()">Clothes</a>
        <a class="log" (click)="confirmDialog()" id="log">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
    </div> -->
    <div class="products">
        <div class="gret" id="user-greeting" [hidden]="!isHelloVisible">
            <h5 class="user1">Profile</h5>
            <h5 class="orders">Orders</h5>
        </div>
        <!-- <h1>&nbsp;</h1> -->
        <div class="list row no-gutters">
            <div class="poco" (click)="selectProduct(product.id)" *ngFor="let product of clothProducts">
                <img [src]="product.detail_of_product.img" class="card-img">
                <div class="container">
                    <div class="left-content">
                        <h6><b>{{ product.product_name }}</b></h6>
                        <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>{{ product.detail_of_product.ratings }}</h6>
                    </div>
                    <div class="right-content">
                        <h6 class="offerp">Offer Price: ₹{{product.detail_of_product.Offerprice}}</h6>
                        <h6>MRP: <s>₹{{product.detail_of_product.MRP}}</s></h6>
                    </div>
                </div>
            </div>
            <!-- <div class="poco" (click)="selectProduct(37)">
                <img src="../../assets/images/allen1.png" class="card-img">
                <div class="container cc">
                    <h6><b>Allen Solly</b></h6>
                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;Offer Price: ₹13,499</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>4.3/5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹14,999</s></h6>
                </div>
            </div>
            <div class="legion" (click)="selectProduct(38)">
                <img src="../../assets/images/urbano1.png" class="card-img">
                <div class="container cc">
                    <h6><b>Urbano</b></h6>
                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹787</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>3.4/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹2,599</s></h6>
                </div>
            </div>
            <div class="fireboltt" (click)="selectProduct(39)">
                <img src="../../assets/images/vtexx1.png" class="card-img">
                <div class="container cc">
                    <h6><b>VTexx</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹299</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>4.0/5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹1,299</s></h6>
                </div>
            </div>
            <div class="Headphones" (click)="selectProduct(40)">
                <img src="../../assets/images/clothproduct3.webp" class="card-img">
                <div class="container cc">
                    <h6><b>Blive</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹399</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>3.6/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹1,999</s></h6>
                </div>
            </div>
            <div class="Echo" (click)="selectProduct(41)">
                <img src="../../assets/images/clothproduct5.jpg" class="card-img">
                <div class="container cc">
                    <h6><b>Ezee</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹99</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>4.1/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹199</s></h6>
                </div>
            </div>
            <div class="Mac" (click)="selectProduct(42)">
                <img src="../../assets/images/clothproduct6.jpg" class="card-img">
                <div class="container cc">
                    <h6><b>T2F</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹218</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>3.9/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹1,800</s></h6>
                </div>
            </div>
            <div class="iphone" (click)="selectProduct(43)">
                <img src="../../assets/images/clothproduct7.jpg" class="card-img">
                <div class="container cc">
                    <h6><b>Lymio</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹329</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>4.0/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹499</s></h6>
                </div>
            </div>
            <div class="ps5" (click)="selectProduct(44)">
                <img src="../../assets/images/clothproduct8.webp" class="card-img">
                <div class="container cc">
                    <h6><b>M7</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹329</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>3.6/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹1,599</s></h6>
                </div>
            </div>
            <div class="xbox" (click)="selectProduct(45)">
                <img src="../../assets/images/clothproduct9.webp" class="card-img">
                <div class="container cc">
                    <h6><b>Tripr</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹419</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>3.8/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹1,999</s></h6>
                </div>
            </div>
            <div class="airpods" (click)="selectProduct(46)">
                <img src="../../assets/images/clothproduct10.jpg" class="card-img">
                <div class="container cc">
                    <h6><b>Zolario</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹449</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>3.6/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹799</s></h6>
                </div>
            </div>
            <div class="applewatch" (click)="selectProduct(47)">
                <img src="../../assets/images/clothproduct11.jpg" class="card-img">
                <div class="container cc">
                    <h6><b>Zakar</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹1,766</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>3.7/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹3,599</s></h6>
                </div>
            </div>
            <div class="neckband" (click)="selectProduct(48)">
                <img src="../../assets/images/clothproduct12.webp" class="card-img">
                <div class="container cc">
                    <h6><b>Uniq</b></h6>
                    <h6 class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offer Price:₹350</h6>
                    <h6 class="rating"><i class="fa fa-star" aria-hidden="true"></i>4.3/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MRP:<s>₹899</s></h6>
                </div>
            </div> -->
        </div>
    </div>
</div>
