.mat-dialog-actions[align=end] {
    justify-content: center !important;
}

.mat-dialog-container{
    background-color: white !important;
}

.profile{
    width: 100px;
    height: 100px;
    margin-left: 39%;
}

.close{
    position: relative;
    bottom: 368px;
    margin-left: 354px;
}

body{
    background-color: white;
}

::ng-deep .my-custom-dialog-class {
    mat-dialog-container {
        background-color: white;
    }
    max-width: 25vw;
    position: static;
}

.mail{
    position: relative !important;
    top: 5px !important;
}