<mat-dialog-content style="height: 345px; width: 410px; background-color: white; padding: 0px 0px !important;">
    <!-- <mat-icon *ngIf="icon" style="margin-left: 42%; size: 300px;">{{icon | lowercase}}</mat-icon> -->
    <div>
        <img src="../../assets/images/profiles.webp" class="profile">
    </div>
    <h3 style="text-align: center;">{{message}}</h3>
    <br>
    <br>
    <h4><mat-icon *ngIf="icon1" class="mail">{{icon1}}</mat-icon>&nbsp;&nbsp;&nbsp;{{message2}}</h4>
    <br>
    <br>
    <h4><mat-icon *ngIf="icon2" class="mail">{{icon2}}</mat-icon>&nbsp;&nbsp;&nbsp;{{message3}}</h4>
</mat-dialog-content>
<mat-dialog-actions align="end" style=" background-color: white; min-height: 20px !important;">
    <button mat-dialog-close class="close">
        <mat-icon *ngIf="icon" style="margin-left: 42%; size: 300px;">{{icon | lowercase}}</mat-icon>
    </button>
</mat-dialog-actions>