.mat-dialog-actions[align=end] {
    justify-content: center !important;
}

.profile{
    width: 100px;
    height: 100px;
    margin-left: 35%;
}

.close{
    position: relative;
    bottom: 337px;
    margin-left: 331px;
}